@import "../../../theme/variables";

.bg-primary {
  background-color: $cyan;
}

.centerer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
}

.formBG {
  border-radius: 20px;
  width: 100%;
  margin-top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $white;
  box-shadow: 0px 0px 7px 0px #85858533;
  padding: 5%;
}

.circle {
    background-color: $white;
    box-shadow: 0px 0px 7px 0px #80808033;
    border-radius: 50%;
    padding: 2%;
    position: absolute;
    top: -5%;
}