@import "../theme/variables";

.bg-primary {
  background-color: $cyan;
}

.centerer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  @media (max-width: 1024px) {
    width: 90%;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formBG {
  border-radius: 20px;
  width: 100%;
  margin-top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $white;
  box-shadow: 0px 0px 7px 0px #85858533;
  @media (max-width: 1024px) {
    box-shadow: none;
    margin-top: 0;
  }
  padding: 5%;
}

.circle {
  background-color: $white;
  box-shadow: 0px 0px 7px 0px #80808033;
  border-radius: 50%;
  padding: 2%;
  position: absolute;
  top: -4%;
  @media (max-width: 1612px) {
    width: 20%;
  }
  @media (max-width: 1440px) {
    top: -3%;
    width: 20%;
  }
  @media (max-width: 1025px) {
    top: -6%;
    width: 25%;
  }
  @media (max-width: 880px) {
    top: -4%;
  }
}

input:-internal-autofill-selected {
  background-color: transparent !important;
  appearance: unset !important;
  background-image: none !important;
}
svg path {
  fill: $gray;
}
.p-knob {
  svg path {
    fill: transparent;
    &.p-knob {
      &-range {
        stroke: #19fcb52d;
      }
      &-value {
        stroke: #0f1349;
      }
    }
  }
}
.active {
  background: #1bfcb633 0% 0% no-repeat padding-box;
  svg path {
    fill: #1bfcb6;
  }
}

.activeIcon {
  svg {
    path {
      fill: #0f1349;
      stroke: #0f1349;
    }
  }
}
